.body{
font-family: 'Heebo', sans-serif;
}

/****navbar****/

.nav-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}

.dropdown-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}

/****footer****/

.my_footer{
background-color:#AFEEEE;
height:48px;
}

.my_footer p{
padding-top:20px;
font-size:14px;
}
/***category***/

.my_row_class{
padding-top:15px;
}


.my_row_class  .mx_auto{
color:#8B008B;
font-size:12px;
}
.my_image{
width:100%;
height:auto;
}
.my_title{
font-size:16px;
text-transform:uppercase;
letter-spacing:.2em;
}
.my_image_padding{
padding:5px;
}
.my_bottom_margin{
margin-bottom:10px;
}
.card-body h4{
font-size:14px;
text-transform:uppercase;
letter-spacing:.2em;
}

/***product***/
.my_prod_row_class{
padding-top:15px;
padding-bottom:20px;
}
.my_prod_row_class .mx_auto{
colour:#8B008B;
font-size:20px;
text-decoration:none;
text-transform:uppercase;
}
.my_prod_title{
font-size:28px;
text-transform:uppercase;
letter-spacing:.1em;
padding-top:14px;
padding-bottom:10px;
color:#9932CC;
}
.my_prod_text{
padding-right:20px;
}
.my_prod_image{
width:500px;
height:300px;
}
.prod_price{
font-size:18px;
font-weight:bold;
}
/*** search ***/
my_search_title{
padding-top:20px;
text-align:center;
}
/*** cart ***/
.my_custom_table{
    font-size:16px;
    min-width:500px;

}
.my_table_head{
    font-weight:normal;
    text-transform:uppercase;
    background-color:#EE82EE;
    letter-spacing:.1em;
    border:3px solid red;


}
.custom_a{
    text-decoration:none;
}
.custom_icon:{
    text-decoration:none;
    color:#FFA500;
}
.custom_button:{
    margin-top:5px;
}
.my_cart_title{
font-weight:normal;
text-transform:uppercase;
letter-spacing:.08em;
color:#8B008B;
}