{% extends 'base.html' %}
{% block body %}
<a class="btn btn-info" href="{% url 'movieapp:add'%}">Add movie</a>

<div class="container">

    <div class="row">
        {% for i in movie_list %}
         <div class="col-md-3">
             <div class="card" >
  <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" height="250px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.year}}</p>
    <a href="{% url 'movieapp:details' i.id%}" class="btn btn-warning">Movie Details</a>
  </div>
</div>



        </div>

{% endfor %}
    </div>

</div>







{% endblock %}
